<% provide(:title, 'About') %>
<div class="container">
  <div class="col col-sm-10 col-sm-offset-1">
    <div class="jumbotron">
      <h1>About</h1>
      <h3>Want to know more about where Pinfinity came from?</h3>
    </div>
  </div>
</div>
