<% provide(:title, 'Help') %>
<div class="container">
  <div class="col col-sm-10 col-sm-offset-1">
    <div class="jumbotron">
      <h1>Help</h1>
      <h3>Have a question? Get some help here.</h3>
    </div>
  </div>
</div>
