<% provide(:title, 'Home') %>
<div class="container">
  <div class="row">
    <div class="col col-sm-10 col-sm-offset-1">
      <div class="jumbotron">
        <h1>Pinfinity</h1>
        <h3>Pin your Equations!</h3>
        <%= link_to "Sign up now!", '/sign_up', class: "btn btn-primary btn-lg" %>
        <%= link_to "Sign out", '/signout', :method => :delete, class: "btn btn-lg" %>
      </div>
    </div>
  </div>
</div>
