<div class="pin">
  <div class="well" id="pin-box">
    <div class="well" id="equation-well">
      <p id="pinned-equation">$<%= pin.equation %>$</p>
    </div>
    <div class="description" id="pin-description"><%= pin.description %></div>
    <div class="timestamp" id="pin-timestamp">
      Posted: <%= pin.created_at %>.
    </div>
  </div>
</div>
