<li>
  <div class="well">
    <p><%= pin.equation %></p>
  </div>
  <span class="description"><%= pin.description %></span><br />
  <span class="timestamp">
    Posted: <%= pin.created_at %>.
  </span>
</li>
