<div class="box col4" id="<%= feed_item.id %>" >
  <div class="well">
    <p>$<%= feed_item.equation %>$</p>
  </div>
  <span class="description"><%= feed_item.description %></span><br />
  <span class="timestamp">
    Posted: <%= feed_item.created_at %>.
  </span>
</div>
