<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-4" id="pin-col">
      <div class="well" id="user-pin-form">
        <%= render '/shared/user_info' %>
        <%= render '/shared/pin_form' %>
      </div>
    </div>
    <div class="col col-sm-8">
      <%= render '/shared/user_pins' %>
    </div>
  </div>
</div>
