<div class="row">
  <div class="col col-sm-4">
    <div class="well">
      <%= render '/shared/user_info' %>
      <%= render '/shared/pin_form' %>
    </div>
  </div>
  <div class="col col-sm-8">
    <div class="well">
      <%= render '/shared/user_pins' %>
    </div>
  </div>
</div>
