<% if @feed_items.any? %>
  <h3><%= pluralize(@feed_items.count, "Pinned Equation") %> </h3>
  <div class="transitions-enabled" id="masonry-container">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </div>
<% else %>
  <h3>No Equations Yet</h3>
<% end %>

<%= javascript_tag do %>
  MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
<% end %>
