@import "bootstrap";

/*flash errors*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }


/*Home Page*/
#homepage_jumbotron h3{
  text-align: center;
}

#homepage_well.well {
  background-color: #fff;
  font-size: 50px;
  margin-bottom: 10px;
}


/*authentication pages*/
.well h2 {
  text-align: center;
  margin-bottom: 10px;
}

#user_email {
  margin-bottom: 10px;
}

#user_password {
  margin-bottom: 10px;
}

#user_password_confirmation {
  margin-bottom: 10px;
}

#user_current_password {
  margin-bottom: 10px;
}

#user_remember_me {
  margin-bottom: 15px;
}

input.btn.btn-lg.btn-primary {
  margin-bottom: 10px;
}


/*Pin creator*/
#user-pin-form {
  border: 1px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #666;
}

#pin_equation {
  width: 100%;
  margin-bottom: 10px;
}

#pin_description {
  width: 100%;
  margin-bottom: 10px;
}


/*Pinned Equations*/
#pin-row {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

.pin {
  display: inline-block;
  padding: 0.25rem;
  width: 100%;
}

#pin-box {
  position: relative;
  display: block;
  border: 1px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #666;
}

#equation-well {
  background-color: #fff;
  text-align: center;
}

#pinned-equation {
  font-size: 175%;
}

#pin-description {
  font-size: 18px;
  margin-bottom: 10px;
}

#pin-timestamp {
  text-align: right;
}
