@import "bootstrap";

/*flash errors*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

/*Home Page*/
#homepage_jumbotron h3{
  text-align: center;
}

#homepage_well.well {
  background-color: #fff;
  margin-bottom: 10px;
}

/*authentication pages*/
.well h2 {
  text-align: center;
  margin-bottom: 10px;
}

#user_email {
  margin-bottom: 10px;
}

#user_password {
  margin-bottom: 10px;
}

#user_password_confirmation {
  margin-bottom: 10px;
}

#user_current_password {
  margin-bottom: 10px;
}

#user_remember_me {
  margin-bottom: 15px;
}

input.btn.btn-lg.btn-primary {
  margin-bottom: 10px;
}
