<footer class="footer">
  <small>
    by Eric Gowens<br />
    Github: <a href="http://github.com/egowens/pinfinity">Pinfinity</a>
  </small>
  <div id="paypal-button">
    <%= render 'layouts/paypal' %>
  </div>
</footer>
